body {
    font-family: sans-serif;
}

.container {
    width: 100%;
    max-width: 100%
}

#virsraksts {
    position: absolute;
    left: 15%;
    top: 5%;
}

#logo {
    position: absolute;
}

.intro {
    width: 100%;
    height: 100vh;
}

#topButtons {
    position: fixed;
    left: 40%;
    top: 20%;
    width: 100%;
    
}