body{
    background-color: lightgray;
}

#logKont{
    position: absolute;
    top: 200px;
    left: 650px;
    background-color: rgb(255, 255, 255);
    width: 600px;
    height: 500px;
    outline: 2px groove rgb(146, 139, 139);
    border-radius: 5px;
}

#logForma {
    position:relative;
    left: 150px;
    top: 50px;
}

#ievadietLietotajvardu {
    position: relative;
    left: 100px;
    width: 400px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    top: 100px;
}

#ievadietParoli {
    position: relative;
    left: 100px;
    width: 400px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    top: 150px;
}

#atkartojietParoli {
    position: relative;
    left: 100px;
    width: 400px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    top: 200px;
}

h2 {
    position: relative;
    left: 45px;
    font-family:Sans-serif;
}

#logTituls {
    position: relative;
    font-size: 30px;
    left: 110px;
    top: -10px;
}

#logApstiprinat {
    position: relative;
    top: 40px;
    left: -50px;
    width: 150px;
    height: 30px;
    background-color: #D43D3D;
    outline: 2px groove rgb(0, 0, 0);
    border-radius: 8px;
    font-size: 20px;
}

#login {
    position: relative;
    width: 400px;
    height: 150px;
    font-size: 20px;
    left: 100px;
    top: 70px;
}

#registration {
    position: relative;
    top: 150px;
    width: 400px;
    height: 150px;
    font-size: 20px;
    left: 100px;
}

#Login {
    position: relative;
    width: 200px;
    top: 290px;
    height: 50px;
    left: 70px;
    font-size: 20px;

}

#atpakal {
    position: relative;
    width: 200px;
    top: 270px;
    height: 50px;
    left: 150px;
    font-size: 20px;
}

#registreties {
    position: relative;
    width: 200px;
    top: 270px;
    height: 50px;
    left: 70px;
    font-size: 20px;

}