body{
    background-color: lightgray;
}

.regKont{
    position: absolute;
    top: 200px;
    left: 750px;
    background-color: blanchedalmond;
    width: 500px;
    height: 500px;
    outline: 2px dashed gray;
}

#forma {
    position:relative;
    left: 100px;
    top: 50px;
    
}

#ievadietLietotajvardu {
    width: 300px;
    height: 25px;
}

#ievadietParoli {
    width: 300px;
    height: 25px;
}

#atkartojietParoli {
    width: 300px;
    height: 25px;
}

h2 {
    position: relative;
    left: 45px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}