{% extends 'base.html' %}

{% block head %}

<title>Slimnīca</title>

{% endblock %}

{% block body %}

<div id='intro'>
    <img src="https://cdn.discordapp.com/attachments/758385365912125571/844201918242357268/unknown.png" alt="logo" />
    <div id='virsraksts'>
        <h1>Projekts <br> "Medicīna"</h1>
        <div id ='topButtons'>
            <button id='mekletArstu2'>
                <a href="/meklet_arstu.html" style="text-decoration: none; color: black;">Meklēt ārstu</a>
            </button>
            <button id='pieteiktViziti2'>
                <a href="pieteikt_viziti.html" style="text-decoration: none; color: black;">Pieteikt vizīti</a>
            </button>
            <button id='mekletViziti2'>
                <a href="meklet_viziti.html" style="text-decoration: none; color: black;">Meklēt vizīti</a>
            </button>
            <button id='iziet'>
                <a href="http://localhost/database/" style="text-decoration: none; color: black;">Iziet no portālā</a>
            </button>
            <button id='login_lietotajs'>Lietotāja profils</button>
        </div>
        <form id='meklesana' action="/" method="POST">
            <input type="text" id="meklet" name="meklet" placeholder="Meklēt...">
        </form> 

    </div>


    <div id='hr'>
        <hr>
        <hr>
    </div>


    <div id='mainPhoto'>
        <img id='fotografija' src="https://media.discordapp.net/attachments/768387809870086194/846705812219101214/Screenshot-2021-02-02-100646_960.png" alt="Hospital" width="50%">
        <h2 class='vakcinacija'>BĒRNU UN JAUNIEŠU COVID-19 <br> VAKCINĀCIJA IR DROŠA UN <br> ATBALSTĀMA IZVĒLE</h2>
        <button id='lasitVairak'>
            <a href="tekst.html" style="text-decoration: none; color: black;">Lasīt vairāk</a>
        </button>
        <div id='bottom'>
            <button id='mekletArstu'>
                <a href="meklet_arstu.html" style="text-decoration: none; color: black;">Meklēt ārstu</a>
            </button>
            <button id='pieteiktViziti'>
                <a href="pieteikt_viziti.html" style="text-decoration: none; color: black;">Pieteikt vizīti</a>
            </button>
            <button id='mekletViziti'>
                <a href="meklet_viziti.html" style="text-decoration: none; color: black;">Meklēt vizīti</a>
            </button>
        </div>
    </div>


</div>

{% endblock %}