<!DOCTYPE html>
<html lang="lv">

{% block head %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pievienot_slimnicu.css') }}">
    <script src="{{ url_for('static', filename='js/scripts.js') }}"> </script>
    <title>Pievienot Slimnīcu</title>

{% endblock %}

{% block body %}

    <div class='intro'>
        <div class='header'>
            <img src="https://cdn.discordapp.com/attachments/758385365912125571/844201918242357268/unknown.png" alt="logo"/>
            <h1 id='name'>Projekts <br> "Medicīna"</h1>
            
            <div id='topButtons'>
                <button id='pievienotSlimnicu'>
                    <a href="pievienot_slimnicu.html" style="text-decoration: none; color: black;">Pievienot slimnīcu</a>
                </button>
                <button id='pievienotArstu'>
                    <a href="pievienot_arstu.html" style="text-decoration: none; color: black;">Pievienot ārstu</a>
                </button>
                <button id='statistika'>
                    <a href="statistika.html" style="text-decoration: none; color: black;">Statistika</a>
                </button>
                <button id='izietNoPortala'>
                    <a href="http://localhost/database/" style="text-decoration: none; color: black;">Iziet no portāla</a>
                </button>
                <button id='login'>Adminisrātora portāls</button>
            </div>

            <form id='meklesana'>
                <input type="text" id="meklet" placeholder="Meklēt...">
            </form>
            
            <hr>
            
        </div>
        <div>
            <hr id='horizontal'>
        </div>

        <div id="poga">
            <button id='jaunaGramata'>Pievienot ārstu</button>
        </div>

        <div id='linijas'>
            <hr id='first'>
            <hr id='second'> 
        </div>

        <div id="popUp">
            <form id="form">
                <p id='nosaukums'>Nosaukums:</p>
                <p id='adrese'>Adrese:</p>
                <input type="text" id="virsraksts">
                <input type="text" id="autors">
            </form>
        </div>

        <div id="biblioteka">
        </div>
        
        <div id="">
        </div>
        
    </div>
{% endblock %}