<!DOCTYPE html>
<html lang="en">

{% block head %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/registracija.css') }}">
    <title>Reģistrācija</title>

{% endblock %}

{% block body %}


    <div id="regKont">
            <button id="registration">Registrācija</button>
            <button id="atcelt">
                <a href = "/index2.html">Atcelt</a>
            </button>
    </div>

    <script src="static/js/registracija.js"></script>

{% endblock %}

</html>