<!DOCTYPE html>
<html lang="lv">

{% block head %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/statistika.css') }}">
    <title>Statistika</title>

{% endblock %}

{% block body %}

    <div id='top_background'></div>

    <div id='intro'>
        <img id='logo' src="https://cdn.discordapp.com/attachments/758385365912125571/844201918242357268/unknown.png" alt="logo" />
        <div id='virsraksts'>
            <h1>Projekts <br> "Medicīna"</h1>
            <div id ='topButtons'>
                <button id='mekletArstu2'>
                    <a href="pievienot_slimnicu.html" style="text-decoration: none; color: black;">Pievienot slimnīcu</a>
                </button>
                <button id='pieteiktViziti2'>
                    <a href="statistika.html" style="text-decoration: none; color: black;">Statistika</a>
                </button>
                <button id='mekletViziti2'>
                    <a href="pievienot_arstu.html" style="text-decoration: none; color: black;">Pievienot ārstu</a>
                </button>
                <button id='ieietPortala'>
                    <a href="index2.html" style="text-decoration: none; color: black;">Iziet no portālā</a>
                </button>
                <button id='login'>Adminisrātora portāls</button>
                    
            </div>
            <form id='meklesana'>
                <input type="text" id="meklet" placeholder="Meklēt...">
            </form> 

            <div id='eksportet_datus'>
                <p>Ekportēt datus:</p>
            </div>

            <button id='eksportet_csv_poga'>.csv</button>
            <button id='eksportet_json_poga'>.json</button>

        </div>


        <div id='hr'>
            <hr>
        </div>

        <div id='hr'>
            <hr id='hr2'>
            <hr id='hr3'>
        </div>

    </div>

{% endblock %}

</html>